body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 40px 0 40px;
}

section {
    padding: 20px;
}

section h2 {
    margin-top: 0;
}

.container-section {
    display: flex;
}